<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Mercado</span>
<span routerLink="/">
    <i class="material-icons">
        home
    </i>

    home
</span>
<span routerLink="/estoque">
    <i class="material-icons">
        list
    </i>

    Estoque
</span>
<span routerLink="/add">
    <i class="material-icons">
        apple
    </i>

    Add Produto
</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
