<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Mercado</span>
<span routerLink="/" class="icone">
    <i class="material-icons">
        home
    </i>

    home
</span>
<span routerLink="/estoque" class="icone">
    <i class="material-icons">
        list
    </i>

    Estoque
</span>
<span routerLink="/add" class="icone">
    <i class="material-icons">
        apple
    </i>

    Add Produto
</span>
</mat-toolbar>
